{% extends "base.html" %}
{% block title %}
    О нас
{% endblock title %}
<body>
    {% block content %}
        <section class="container py-5">
            <div class="row text-center pt-5 pb-3">
                <div class="col-lg-6 m-auto alert alert-dark">
                    <form class="row g-3" method="POST">
                        {% csrf_token %}
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Эл. адрес</label>
                            <input type="text" 
                                   class="form-control"    
                                   id="inputEmail4" 
                                   placeholder="Email"
                                   name=email>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Пароль</label>
                            <input type="password"
                                   class="form-control"
                                   id="inputPassword4"
                                   placeholder="Password"
                                   name=password1>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Повторите пароль</label>
                            <input type="password"
                                   class="form-control"
                                   id="inputPassword4"
                                   placeholder="Password"
                                   name=password2>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-success">Войти</button>
                        </div>
                        <p class="py-2">
                            <span class="list-inline-item text-dark">Нет аккаунта? | <a href="{% url 'register' %}">
                                <button type="button" class="btn btn-outline-success">Регистрация</button>
                            </span></a>
                        </p>
                    </form>
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-dark"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="http://google.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="https://www.vk.com/"><i class="fab fa-vk fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
                </div>
            </div>
        </section>
    {% endblock content %}
</body>
