{% extends 'base.html' %}
{% block title %}
    {{ product.name }}
{% endblock title %}
<body>
    {% block content %}
        <!-- Open Content -->
        <section class="bg-light">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-5 mt-5">
                        <div class="card mb-3">
                            <img class="card-img img-fluid"
                                 src="{{ product.image.url }}"
                                 id="product-detail">
                        </div>
                        <div class="row">
                            <div class="col-1 align-self-center">
                                <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                    <i class="text-dark fas fa-chevron-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </div>
                            <div id="multi-item-example"
                                 class="col-10 carousel slide carousel-multi-item"
                                 data-bs-ride="carousel">
                                <div class="carousel-inner product-links-wap" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            {% for img in product.productshots_set.all %}
                                                <div class="col-4">
                                                    <a href="#">
                                                        <img class="card-img img-fluid"
                                                             src="{{ img.image.url }}"
                                                             alt="Почему-то не работает">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 align-self-center">
                                <a href="#multi-item-example" role="button" data-bs-slide="next">
                                    <i class="text-dark fas fa-chevron-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2">{{ product.name }}</h1>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Price :</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="h3 py-2">
                                            <strong>{{ product.price }}$</strong>
                                        </p>
                                    </li>
                                </ul>
                                <p class="py-2">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-secondary"></i>
                                    <span class="list-inline-item text-dark">Rating 4.8 | {{ product.reviews_set.all.count }} Comments</span>
                                </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Бренд:</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted">
                                            <strong>{{ product.manufacturer }}</strong>
                                        </p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Price :</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted">
                                            <strong>{{ product.price }}$</strong>
                                        </p>
                                    </li>
                                </ul>
                                <h6>Описание</h6>
                                <p>
                                    {{ product.description }}
                                </p>
                                <h6>Specification:</h6>
                                <ul class="list-unstyled pb-3">
                                    <li>Lorem ipsum dolor sit</li>
                                    <li>Amet, consectetur</li>
                                    <li>Adipiscing elit,set</li>
                                    <li>Duis aute irure</li>
                                    <li>Ut enim ad minim</li>
                                    <li>Dolore magna aliqua</li>
                                    <li>Excepteur sint</li>
                                </ul>
                                <form action="" method="GET">
                                    <input type="hidden" name="product-title" value="Activewear">
                                    <div class="row pb-3">
                                        <div class="col d-grid">
                                            <button type="submit"
                                                    class="btn btn-success btn-lg"
                                                    name="submit"
                                                    value="addtocard">Add To Cart</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="single-form-left">
                                        <div class="contact-single">
                                            <h3 class="editContent">
                                                <br>
                                                Оставить отзыв
                                            </h3>
                                            <form action="{% url 'add_rewiew' product.id %}" method="post" class="mt-4">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="form-group col-md-6 mb-3">
                                                        <label for="inputname">Name</label>
                                                        <input type="text"
                                                               class="form-control mt-1"
                                                               id="name"
                                                               name="name"
                                                               placeholder="Name">
                                                    </div>
                                                    <div class="form-group col-md-6 mb-3">
                                                        <label for="inputemail">Email</label>
                                                        <input type="email"
                                                               class="form-control mt-1"
                                                               id="email"
                                                               name="email"
                                                               placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="inputmessage">Message</label>
                                                    <textarea class="form-control mt-1"
                                                              id="message"
                                                              name="text"
                                                              placeholder="Message"
                                                              rows="8"></textarea>
                                                </div>
                                                <button type="submit" class="mt-3 btn btn-success btn-block px-3">Отправить</button>
                                            </form>
                                            {% for review in product.reviews_set.all %}
                                                <div class="media py-5">
                                                    <h5 class="mt-0 editContent">{{ review.name }}</h5>
                                                    <p class="mt-2 editContent">
                                                        {{ review.text }}
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
</body>
</html>
